---
---

$off_white: #d5d5d5;
$background: #000;
$gray_font: #999;

body {
  margin: 60px auto;
  width: 70%;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  background-color: $background;
  color: $off_white;
}

nav ul, footer ul {
  padding: 0;
  list-style: none;
  font-weight: bold;

  li {
    display: inline;
    margin-right: 20px;
  }
}

a {
  text-decoration: none;
  color: $gray_font;
  opacity: 1;
  transition: opacity 0.5s;
  &:hover{
     opacity: 0.7;
  }
}

h1 {
  font-size: 3em;
  color: $off_white;
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: $off_white;
}

footer {
  border-top: 1px solid $off_white;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

li {
  list-style: none;
}
h3 {
  color: $off_white;
  text-align: center;
}

.sites {
  li {
    margin-bottom: 1%;
  }
}