<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
     <nav>
         <ul>
             <li><a href="/">Home</a></li>
             <li><a href="/about">About</a></li>
         </ul>
     </nav>
     <div class="container">
         {{ content }}
     </div>
     <footer>
         <ul>
             <li><a href="mailto:koll-johnson@openmailbox.org">email</a></li>
             <li>{% include icon-github.html username=site.github_username %}</li>
             <li><a href="http://codepen.io/kolljohnson">CodePen</a></li>
             <li><a href="https://www.linkedin.com/in/koll-johnson-752064ab">LinkedIn</a></li>
             <li><a href="https://enoch.itch.io/">itch.io</a></li>
         </ul>
     </footer>
</body>
</html>
